html, body{
    width: 100%;
    height: 100%;
}

.Container{
    width: 90%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
}

ul{
    display: flex;
    height: 100%;
    /*justify-content: space-between; /* espaço grand eentre itens*/
    /*justify-content: space-around; espaço médio entre itens*/
    justify-content: space-evenly;/*espaço entermediário entre itend*/
    flex-direction: row;
    /* flex-direction: column ; um abaixo do outro */
    /*flex-direction: row-reverse; um do lado do outro */
    /*justify-content: flex-start; alinha os itend no inicio*/
    align-items: center; /*centralizar*/
    justify-content: space;
}
li{
    background-color: rgb(29, 215, 153);
}