li:first-child{
    color: red;
}

li:last-child{
    color: blue;
}

li:nth-child(4){
    color: green;
}

a:hover{
    background-color: pink;
}

a:link{
    color: black; /* cor antes de acessar*/
}

a:visited{
    color: red;
}

a:active{
    color: green;
}

p::first-letter{
    color: aqua;
    font-size: 300%;
}

p::first-line{
    font-style: italic;
}

a:before{
    content: ">";
}

a::after{
    content:"<";
}

p{
    text-shadow: 5px 10px 2px blue;
}

#p{
    opacity: 0.3;
    background-color: rgba(255, 100, 255, 0.5);/*0.5 transparencia*/
}

