html, body{
    height: 100%;
    width: 100%;
}

.text-bg{
    background-color: rgb(42, 42, 42);
}

.text-end a{
    color:black;
    background-color: rgb(127, 127, 127);
    opacity: 100%;
    border: 0;
}

.menu{
    color: black;
}

.menu:hover{
    color: gray;
}