html, body{
    width: 100%;
    height: 100%;
}

main{
    width: 80%;
    height: 20%;
    /*backgtound:linear-gradient(to left...)para a esquerda 
    bottom de cima para baixo
    to top de baixo para cima*/
    /*background:linear-gradient(45deg blue, purple); angulo de 45 graus */
    background: radial-gradient(blue, rgb(182, 0, 182));
}

main:hover{
    position: relative;
    top:30px;
    color: aqua;
    transition: top 2s, color 1s ease;
}